# Host Ports
CKAN_PORT_HOST=5000
NGINX_PORT_HOST=81
NGINX_SSLPORT_HOST=8443

# CKAN databases
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=db
CKAN_DB_USER=ckandbuser
CKAN_DB_PASSWORD=ckandbpassword
CKAN_DB=ckandb
DATASTORE_READONLY_USER=datastore_ro
DATASTORE_READONLY_PASSWORD=datastore
DATASTORE_DB=datastore
CKAN_SQLALCHEMY_URL=postgresql://ckandbuser:ckandbpassword@db/ckandb
CKAN_DATASTORE_WRITE_URL=postgresql://ckandbuser:ckandbpassword@db/datastore
CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:datastore@db/datastore

# Test database connections
TEST_CKAN_SQLALCHEMY_URL=postgres://ckan:ckan@db/ckan_test
TEST_CKAN_DATASTORE_WRITE_URL=postgresql://ckan:ckan@db/datastore_test
TEST_CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:datastore@db/datastore_test

# Dev settings
USE_HTTPS_FOR_DEV=false

# CKAN core
CKAN_VERSION=2.12.0
CKAN_SITE_ID=default
CKAN_SITE_URL=http://localhost:5000
CKAN___BEAKER__SESSION__SECRET=CHANGE_ME
# See https://docs.ckan.org/en/latest/maintaining/configuration.html#api-token-settings
CKAN___API_TOKEN__JWT__ENCODE__SECRET=string:CHANGE_ME
CKAN___API_TOKEN__JWT__DECODE__SECRET=string:CHANGE_ME
CKAN_SYSADMIN_NAME=ckan_admin
CKAN_SYSADMIN_PASSWORD=test1234
CKAN_SYSADMIN_EMAIL=your_email@example.com
CKAN_STORAGE_PATH=/var/lib/ckan
CKAN_SMTP_SERVER=smtp.corporateict.domain:25
CKAN_SMTP_STARTTLS=True
CKAN_SMTP_USER=user
CKAN_SMTP_PASSWORD=pass
CKAN_SMTP_MAIL_FROM=ckan@localhost
CKAN_MAX_UPLOAD_SIZE_MB=100
TZ=UTC

# Solr
SOLR_IMAGE_VERSION=2.12-solr9-spatial
CKAN_SOLR_URL=http://solr:8983/solr/ckan
TEST_CKAN_SOLR_URL=http://solr:8983/solr/ckan

# Redis
REDIS_VERSION=6
CKAN_REDIS_URL=redis://redis:6379/1
TEST_CKAN_REDIS_URL=redis://redis:6379/1

# NGINX
NGINX_PORT=80
NGINX_SSLPORT=443

# Extensions
CKAN__PLUGINS="image_view text_view datatables_view datastore scheming_datasets gztr envvars"
CKAN__HARVEST__MQ__TYPE=redis
CKAN__HARVEST__MQ__HOSTNAME=redis
CKAN__HARVEST__MQ__PORT=6379
CKAN__HARVEST__MQ__REDIS_DB=1

CKAN__UPLOADS_ENABLED=true

# == ckanext-gztr config (more at https://gztr.dathere.com/docs/configuration) ==

CKAN___SCHEMING__PRESETS=ckanext.scheming:presets.json ckanext.gztr:schemas/presets.yaml
CKAN___SCHEMING__DATASET_SCHEMAS=ckanext.gztr:schemas/dataset.yaml
CKAN__SEARCH__SOLR_ALLOWED_QUERY_PARSERS=field

# ckanext-gztr configuration (more info at https://gztr.dathere.com/docs/configuration)

# == ckanext-gztr | Storage options (more info at https://docs.ckan.org/en/latest/maintaining/filestore.html#setup-file-storages) ==

# The gztr storage type, in this case based on the filesystem.
# (mandatory)
CKAN__FILES__STORAGE__GZTR__TYPE=ckan:fs
# The path to the gztr storage on the filesystem.
# (mandatory)
CKAN__FILES__STORAGE__GZTR__PATH=/var/lib/ckan/storage/uploads/gztr
# Creates the `gztr` directory if it doesn't exist.
# (mandatory)
CKAN__FILES__STORAGE__GZTR__INITIALIZE=true
# Makes all gztr storage files publicly downloadable.
# (mandatory)
CKAN__FILES__STORAGE__GZTR__PUBLIC=true

# == ckanext-gztr | Dataset publisher gazetteer options ==

# Vector tile server URL (or vector PMTiles URL with pmtiles:// protocol).
# Raster tiles are not supported.
# (mandatory)
CKANEXT__GZTR__DATASET_PUBLISHER__TILES_URL=
# The default center latitude of the map.
# (recommended)
CKANEXT__GZTR__DATASET_PUBLISHER__DEFAULT_LATITUDE=34.307144
# The default center longitude of the map.
# (recommended)
CKANEXT__GZTR__DATASET_PUBLISHER__DEFAULT_LONGITUDE=-106.018066
# The initial zoom level of the map.
# (recommended)
CKANEXT__GZTR__DATASET_PUBLISHER__DEFAULT_ZOOM=5
# The space-separated boundaries of the map (e.g. continental USA)
# (recommended)
CKANEXT__GZTR__DATASET_PUBLISHER__MAX_BOUNDS=-134.428711 14.349548 -61.611328 52.536273
# Disable drawing custom polygons for dataset publishers.
# Set this to true if you want data publishers to only use preset features provided by the sysadmin.
# (optional)
CKANEXT__GZTR__DATASET_PUBLISHER__DISABLE_DRAWN_FEATURES=false
# Modify the height of the map shown in the modal (note that there is already a fullscreen button if needed).
# (optional)
CKANEXT__GZTR__DATASET_PUBLISHER__DIALOG_MAP_HEIGHT=60vh
# Disable the address search feature which uses the external Nominatim API.
# (optional)
CKANEXT__GZTR__DATASET_PUBLISHER__DISABLE_ADDRESS_SEARCH=false
# Select an engine for parsing GeoParquet for usage in the gazetteers.
# - hyparquet: recommended (enabled by default) for lowest bandwidth costs through cloud-native geospatial methodology
# - duckdb: downloads DuckDB WASM from jsdelivr.com which is slow on first request then cached on subsequent requests
# - sedonadb: not recommended, slowest implementation as it converts GeoParquet to GeoJSON and the user downloads GeoJSON
# (recommended)
CKANEXT__GZTR__DATASET_PUBLISHER__GEOPARQUET_ENGINE=hyparquet
# In a geospatial collection's info modal, display a clickable JSON file icon button to open the corresponding STAC collection page.
# (optional)
CKANEXT__GZTR__DATASET_PUBLISHER__ENABLE_STAC_COLLECTION_JSON_BUTTON=true
# In a geospatial collection's info modal, display a clickable download icon button to download the collection as a file (e.g. GeoParquet).
# (optional)
CKANEXT__GZTR__DATASET_PUBLISHER__ENABLE_STAC_COLLECTION_DOWNLOAD_BUTTON=true

# == ckanext-gztr | Public search gazetteer options ==

# Vector tile server URL (or vector PMTiles URL with pmtiles:// protocol).
# Raster tiles are not supported.
# (mandatory)
CKANEXT__GZTR__PUBLIC_SEARCH__TILES_URL=
# The default center latitude of the maps.
# (recommended)
CKANEXT__GZTR__PUBLIC_SEARCH__DEFAULT_LATITUDE=34.307144
# The default center longitude of the maps.
# (recommended)
CKANEXT__GZTR__PUBLIC_SEARCH__DEFAULT_LONGITUDE=-106.018066
# The initial zoom level of the maps.
# (recommended)
CKANEXT__GZTR__PUBLIC_SEARCH__DEFAULT_ZOOM=5
# The space-separated boundaries of the map (e.g. continental USA)
# (recommended)
CKANEXT__GZTR__PUBLIC_SEARCH__MAX_BOUNDS=-134.428711 14.349548 -61.611328 52.536273
# Disable the address search feature which uses Nominatim.
# (optional)
CKANEXT__GZTR__PUBLIC_SEARCH__DISABLE_ADDRESS_SEARCH=false
# Allow public users to click a JSON info icon button to open the STAC collection info JSON page.
# (optional)
CKANEXT__GZTR__PUBLIC_SEARCH__ENABLE_STAC_COLLECTION_JSON_BUTTON=false
# Allow public users to click a download icon button to download a geospatial collection (e.g. GeoParquet file).
# (optional)
CKANEXT__GZTR__PUBLIC_SEARCH__ENABLE_STAC_COLLECTION_DOWNLOAD_BUTTON=true

# == ckanext-gztr | Public search minimap options ==

# MapLibre-specific config about the source data
# Refer to https://maplibre.org/maplibre-style-spec/sources for more info

# Vector, Raster, or PMTiles (using the pmtiles:// protocol) server URL.
# (mandatory)
CKANEXT__GZTR__PUBLIC_SEARCH_MINIMAP__TILES_URL=
# The type of the source, either vector or raster
# (mandatory)
CKANEXT__GZTR__PUBLIC_SEARCH_MINIMAP__TILES_TYPE=vector
# Attribution HTML (e.g. an HTML anchor tag with a link using href)
# NOTE: As a sysadmin, make sure this is safe HTML!
# (recommended)
CKANEXT__GZTR__PUBLIC_SEARCH_MINIMAP__ATTRIBUTION_HTML=
# The space-separated boundaries of the minimap (e.g. continental USA)
# (recommended)
CKANEXT__GZTR__PUBLIC_SEARCH_MINIMAP__MAX_BOUNDS=-134.428711 14.349548 -61.611328 52.536273
# The maximum zoom level that the tiles would be retrieved for
# (optional)
CKANEXT__GZTR__PUBLIC_SEARCH_MINIMAP__MAX_ZOOM=19

# == ckanext-gztr | Geoconnex options (more info at https://gztr.dathere.com/docs/geoconnex-integration) ==

CKANEXT__GZTR__GEOCONNEX__ENABLED=false
# The namespace that should exist in the namespaces/bulk/ckan directory at https://github.com/internetofwater/geoconnex.us
CKANEXT__GZTR__GEOCONNEX__NAMESPACE=
# Embeds Geoconnex-compatible JSON-LD within each compatible CKAN dataset's landing page
CKANEXT__GZTR__GEOCONNEX__ENABLE_DATASET_JSONLD=false
