# Host Ports
CKAN_PORT_HOST=5000
NGINX_PORT_HOST=81
NGINX_SSLPORT_HOST=8443

# CKAN databases
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=db
CKAN_DB_USER=ckandbuser
CKAN_DB_PASSWORD=ckandbpassword
CKAN_DB=ckandb
DATASTORE_READONLY_USER=datastore_ro
DATASTORE_READONLY_PASSWORD=datastore
DATASTORE_DB=datastore
CKAN_SQLALCHEMY_URL=postgresql://ckandbuser:ckandbpassword@db/ckandb
CKAN_DATASTORE_WRITE_URL=postgresql://ckandbuser:ckandbpassword@db/datastore
CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:datastore@db/datastore

# Test database connections
TEST_CKAN_SQLALCHEMY_URL=postgres://ckan:ckan@db/ckan_test
TEST_CKAN_DATASTORE_WRITE_URL=postgresql://ckan:ckan@db/datastore_test
TEST_CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:datastore@db/datastore_test

# Dev settings
USE_HTTPS_FOR_DEV=false

# CKAN core
CKAN_VERSION=2.12.0
CKAN_SITE_ID=default
CKAN_SITE_URL=http://localhost:5000
CKAN___BEAKER__SESSION__SECRET=CHANGE_ME
# See https://docs.ckan.org/en/latest/maintaining/configuration.html#api-token-settings
CKAN___API_TOKEN__JWT__ENCODE__SECRET=string:CHANGE_ME
CKAN___API_TOKEN__JWT__DECODE__SECRET=string:CHANGE_ME
CKAN_SYSADMIN_NAME=ckan_admin
CKAN_SYSADMIN_PASSWORD=test1234
CKAN_SYSADMIN_EMAIL=your_email@example.com
CKAN_STORAGE_PATH=/var/lib/ckan
CKAN_SMTP_SERVER=smtp.corporateict.domain:25
CKAN_SMTP_STARTTLS=True
CKAN_SMTP_USER=user
CKAN_SMTP_PASSWORD=pass
CKAN_SMTP_MAIL_FROM=ckan@localhost
CKAN_MAX_UPLOAD_SIZE_MB=100
TZ=UTC

# Solr
SOLR_IMAGE_VERSION=2.12-solr9-spatial
CKAN_SOLR_URL=http://solr:8983/solr/ckan
TEST_CKAN_SOLR_URL=http://solr:8983/solr/ckan

# Redis
REDIS_VERSION=6
CKAN_REDIS_URL=redis://redis:6379/1
TEST_CKAN_REDIS_URL=redis://redis:6379/1

# NGINX
NGINX_PORT=80
NGINX_SSLPORT=443

# Extensions
CKAN__PLUGINS="image_view text_view datatables_view datastore scheming_datasets gztr envvars"
CKAN__HARVEST__MQ__TYPE=redis
CKAN__HARVEST__MQ__HOSTNAME=redis
CKAN__HARVEST__MQ__PORT=6379
CKAN__HARVEST__MQ__REDIS_DB=1

CKAN__UPLOADS_ENABLED=true

# == ckanext-gztr config (more at https://gztr.dathere.com/docs/configuration) ==

CKAN___SCHEMING__PRESETS=ckanext.scheming:presets.json ckanext.gztr:schemas/presets.yaml
CKAN___SCHEMING__DATASET_SCHEMAS=ckanext.gztr:schemas/dataset.yaml
CKAN__SEARCH__SOLR_ALLOWED_QUERY_PARSERS=field

# == ckanext-gztr | Storage options ==

# gztr storage setup
CKAN__FILES__STORAGE__GZTR__TYPE=ckan:fs
CKAN__FILES__STORAGE__GZTR__PATH=/var/lib/ckan/storage/uploads/gztr
CKAN__FILES__STORAGE__GZTR__INITIALIZE=true # Creates the `gztr` directory if it doesn't exist.
# TODO: Resolve KeyError issue when setting this environment variable
# CKAN__FILES__STORAGE__GZTR__PUBLIC=true # Makes the source GeoParquet files publicly downloadable and adds potential for more efficient geospatial capabilities.

# == ckanext-gztr | General options ==

# Default map configuration for gazetteers (for example here we use New Mexico's location).
CKANEXT__GZTR__DEFAULT_LATITUDE=34.0
CKANEXT__GZTR__DEFAULT_LONGITUDE=-106.018066
CKANEXT__GZTR__DEFAULT_ZOOM=5
# URL to map tile server whose tiles are rendered on the maps.
CKANEXT__GZTR__MAP_TILE_SERVER=https://tiles.openfreemap.org/styles/liberty

# == ckanext-gztr | Public search gazetteer options ==
# Disable the address search feature which uses Nominatim.
CKANEXT__GZTR__PUBLIC_SEARCH__DISABLE_ADDRESS_SEARCH=false

# == ckanext-gztr | Dataset publisher gazetteer options ==
# Disable drawing custom polygons for dataset publishers.
# Set this to true if you want data publishers to only use preset features provided by the sysadmin.
CKANEXT__GZTR__DATASET_PUBLISHER__DISABLE_DRAWN_FEATURES=false
# Modify the height of the map shown in the modal (note that there is a fullscreen button if needed).
CKANEXT__GZTR__DATASET_PUBLISHER__DIALOG_MAP_HEIGHT=60vh
# Disable the address search feature which uses Nominatim.
CKANEXT__GZTR__DATASET_PUBLISHER__DISABLE_ADDRESS_SEARCH=false

# == ckanext-gztr | Geoconnex options (more info at https://gztr.dathere.com/docs/geoconnex-integration) ==
CKANEXT__GZTR__GEOCONNEX__ENABLED=false
# The namespace that should exist in the namespaces/bulk/ckan directory at https://github.com/internetofwater/geoconnex.us
CKANEXT__GZTR__GEOCONNEX__NAMESPACE=New_Mexico_Water_Data_Catalog
# Embeds Geoconnex-compatible JSON-LD within each compatible CKAN dataset's landing page
CKANEXT__GZTR__GEOCONNEX__ENABLE_DATASET_JSONLD=false
